@font-face {
    font-family: "default";
    src: url('./common/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "default_bold";
    src: url('./common/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "default_black";
    src: url('./common/roboto/Roboto-Black.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #E8EAED;
    font-family: 'default';
    
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 14fr;
}

.nav {
    background-color: brown;
    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar {
    background-color: brown;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: bisque;
    grid-column: 2/3;
    grid-row: 2/3;
}

.add-task-cntnr {
    background-color: #1e1e1e;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* .basic-categories {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    height: 46.5%;
    width: 100%;
    padding-left: 0.7em;
}


.search-cntnr, .inbox-cntnr, .today-cntnr {
    padding-right: 5px;
    height: 12%;
    display: flex;
    
    align-items: center;
}

.search-text, .inbox-text, .today-text {
    margin-left: 5px;
    font-family: 'default_bold';
} */

.basic-categories img {
    height: 90%;
}



.projects{
    background-color: chocolate;
    height: 46.5%;
    width: 100%;
}

.add-btn {
    border-radius: 50%;
    background-color: #de4c4a;
    height: 50%;
    margin-left: 0.7em;
}

.add-tsk-txt {
    color: #de4c4a;
    font-family: 'default_black';
    font-size: 1.3em;
    margin-left: 7px;
}