@font-face {
    font-family: "default_font";
    src: url('./common/roboto/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #E8EAED;
    font-family: 'default_font';
    
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 14fr;
}

.nav {
    background-color: brown;
    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar {
    background-color: brown;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: bisque;
    grid-column: 2/3;
    grid-row: 2/3;
}

.add-task-cntnr {
    background-color: rgb(160, 208, 251);
    height: 7%;
    width: 100%;
}
.basic-categories {
    background-color: burlywood;
    height: 46.5%;
    width: 100%;
}
.projects{
    background-color: chocolate;
    height: 46.5%;
    width: 100%;
}
