@font-face {
    font-family: "default";
    src: url('./common/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "default_bold";
    src: url('./common/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "default_black";
    src: url('./common/roboto/Roboto-Black.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #E8EAED;
    font-family: 'default';
    /* border: 1px solid white; */

    
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 14fr;
}

.nav {
    background-color: brown;
    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar {
    background-color: brown;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: #1e1e1e;
    grid-column: 2/3;
    grid-row: 2/3;
}

.add-task-cntnr {
    background-color: #1e1e1e;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.basic-categories {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    height: 40.5%;
    width: 100%;
    padding-left: 0.7em;
}


.search-cntnr, .inbox-cntnr, .today-cntnr {
    padding-right: 5px;
    height: 12%;
    display: flex;
    
    align-items: center;
}

.search-text, .inbox-text, .today-text {
    margin-left: 5px;
    font-family: 'default_bold';
}




.add-btn {
    border-radius: 50%;
    background-color: #de4c4a;
    height: 50%;
    margin-left: 0.7em;
}

.add-tsk-txt {
    color: #de4c4a;
    font-family: 'default_black';
    font-size: 1.3em;
    margin-left: 7px;
}

.sidebar {
    background-color: brown;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    background-color: #262626;

}

.add-task-cntnr {
    /* background-color: #1e1e1e; */
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-task-cntnr:hover {
    background-color: #363636;
}

.add-btn {
    border-radius: 50%;
    background-color: #de4c4a;
    height: 50%;
    margin-left: 0.7em;
}

.add-tsk-txt {
    color: #de4c4a;
    font-family: 'default_black';
    font-size: 1.3em;
    margin-left: 7px;
}


.basic-categories {
    /* background-color: #1e1e1e; */
    display: flex;
    flex-direction: column;
    height: 40.5%;
    width: 100%;
    padding-left: 0.4em;
}

.search-cntnr, .inbox-cntnr, .today-cntnr {
    padding-right: 5px;
    height: 12%;
    width: 100%;
    padding-left: 0.5em;
    display: flex;
    /* background-color: #1e1e1e; */
    align-items: center;
    border-radius: 3%;
}

.search-text, .inbox-text, .today-text {
    margin-left: 5px;
    font-family: 'default_bold';
}

.basic-categories img {
    height: 90%;
}

.projects{
    background-color:#1e1e1e;
    height: 40.5%;
    width: 100%;
    padding-left: 0.4em;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.project-view-header {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.4em;
}

.project-view-head-text {
    font-family: 'default_bold';
}

.add-project {
    font-size: 24px;
    height: 100%;
    /* margin-right: 0.4em; */
}

.projects-cntnr {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.4em;
}

.project-name {
    display: flex;
    align-items: center;
    justify-content: center;
}