body {
    overflow: hidden;
}
.container {
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    /* opacity: 0.4; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.container div {
    /* border: 2px solid black;  */
}
.header {
    background-color: azure;
    grid-row: 1;
    grid-column: 1/6;
}

.nav {
    background-color: #1c1f20;
    grid-column: 1/2;
    grid-row: 2/9;
    color: rgb(232, 230, 227);
    font-size: xx-large;
}

.main {
    background-color: beige;
    grid-column: 2/6;
    grid-row: 2/9;
}

/* .footer{
    background-color: rgb(240, 254, 255);
    grid-row: 8;
    grid-column: 2/6;
} */
.nav > div {
    height: 100%;
    width: 100%;
    border: 1px solid azure;
    /* display: grid; */
    /* grid-template-row: repeat(3, 1fr); */
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}

.nav-category-container {
    height: 33%;
    width: 100%;
    padding: 8% 0 10% 0;
}
    
.line {
    position: relative;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 70%; 
    height: 1px;
    background-color: white;
    filter: blur(1px);
    /* border-radius: 50%; */
}